#root {
  width: 100vw;
  height: 3000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,129,20,0.8883928571428571) 40%, rgba(0,212,255,1) 100%);
}
